<h1>Bienvenidos</h1>
<hr>

<div class="app-mensajes" id="app-mensajes">

    <div class="text-end" *ngFor="let chat of chatService.chats" [ngClass]="{ 'text-end': chatService.usuario.uid == chat.uid }">

        <span class="badge  " [ngClass]="{' bg-success': chatService.usuario.uid == chat.uid,
                     ' bg-danger': chatService.usuario.uid != chat.uid }">
            {{chat.nombre}}
        </span>

        <p>
            {{ chat.mensaje }}
        </p>
    </div>

</div>

<input type="text" name="mensaje" [(ngModel)]="mensaje" class="form-control" (keyup.enter)="enviar_mensaje()" placeholder="Enviar mensaje">